* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: white;
  font-family: "Poppins", sans-serif;
  text-align: justify;
  padding: 30px;
  color: #222222;
}

img {
  width: 50%;
}

.container {
  display: flex;
  gap: 30px;
  max-width: 1024px;
  margin: auto;
  background: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 15px #c707242c;
}

h1 {
  color: black;
  font-size: 24px;
  text-align: center;
}

h2 {
  font-size: 16px;
  margin-top: 16px;
  text-align: center;
}

p {
  font-size: 14px;
  margin-top: 16px;
}

.buttons {
  margin: 30px 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

button {
  padding: 15px 25px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

#yesBtn {
  background-color: #32af3c;
  color: white;
}

#yesBtn:hover {
  background-color: #12880d;
}

#noBtn {
  background-color: #9e1111;
  color: #ffffff;
  position: relative;
}

.hidden {
  display: none;
}

#response {
  margin-top: 30px;
  background: white;
  padding: 20px;
  border-radius: 15px;
}
